body {
  background-image: url(./images/wallpaper.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

@media screen and (min-width: 601px) {
  .typed {

    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
    font-size: 5vh;
    font-weight: bold;
  }

  .center-exp {
    width: 70vh;
    margin: auto;
    display: block;
    padding-top: 10%;
  }
  .center-exp-2 {
    width: 70vh;
    margin: auto;
    display: block;
    padding-top: 3%;
  }
  .typed::after {
    content: "|";
    font-size: 150%;
    line-height: 30px;
    animation: blink .75s step-end infinite;
  }

  #picture {
    border-radius: 50%;
    width: 30vh;

  }

  .center-certificate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;

    text-align: center;
  }

  .center-dream {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vh;

    text-align: center;
  }

  .center-scrum {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vh;

    text-align: center;
  }

  #quote {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vh;
    text-align: center;

  }

  #quote-exp {

    display: block;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    background-size: 100% 100%;

  }

  #recipient_quote {
    background-color: #6B878D;
    height: 49vh;
  }

  #subtitle {
    color: gray;
    font-size: 4vh;
    ;
  }

  #subtitle-contact {
    color: gray;
    font-size: 4vh;
    ;
  }

  #linked {
    width: 7vh;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .typed {

    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
    font-size: 3vh;
    font-weight: bold;
  }

  .typed::after {
    content: "|";
    font-size: 150%;
    line-height: 30px;
    animation: blink .75s step-end infinite;
  }

  #picture {
    border-radius: 50%;
    width: 15vh;

  }

  .center-certificate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vh;

    text-align: center;
  }

  .center-scrum {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vh;

    text-align: center;
  }

  .center-exp {
    width: 40vh;
    margin: auto;
    display: block;
    padding-top: 10%;

  }

  #quote-exp {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
    text-align: center;

  }

  #quote {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vh;
    text-align: center;

  }

  .center-dream {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vh;

    text-align: center;
  }

  #recipient_quote {
    background-color: #6B878D;
    height: 21vh;
  }

  #subtitle {
    color: gray;
    font-size: 3vh;
    ;
  }

  #subtitle-contact {
    color: gray;
    font-size: 2vh;
    ;
  }

  #linked {
    width: 7vh;
  }
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}


.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  &>[class^="col-"],
  &>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2 {
  text-align: center;

}

#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  width: 100%;
  height: 250px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
  background: #FFFFFF;

  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}



@keyframes blink {

  from,
  to {
    color: transparent
  }

  50% {
    color: rgba(245, 245, 245)
  }
}


.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


.scene {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}

.cube {
  position: absolute;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: spin 10s linear infinite;
}

.front,
.back,
.right,
.left,
.top,
.bottom {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #fff;
}

.front {
  transform: translateZ(150px);
  background-image: url('images/rappi.png');
  background-size: cover;
  background-position: center;
}

.back {
  transform: rotateY(180deg) translateZ(150px);
  background-image: url('images/meli.jpeg');
  background-size: cover;
  background-position: center;
}

.right {
  transform: rotateY(90deg) translateZ(150px);
  background-image: url('images/andes.png');
  background-size: cover;
  background-position: center;
}

.left {
  transform: rotateY(-90deg) translateZ(150px);
  background-image: url('images/serlefin.jpeg');
  background-size: cover;
  background-position: center;
}

.top {
  transform: rotateX(90deg) translateZ(150px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
